<!DOCTYPE html>
<html lang="en">

<head>
  <title>First Vue</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <h1>First Vue</h1>
  <div id="app">
    <p>Please enter the programming language name:<input v-model="progName"></p>
    <p>Please enter your name:<input v-model="yourName" />
      <!-- Directives are special attributes with the v- prefix. -->
    </p>

    <p>Hello {{progName}}!</p>
    <!--text interpolation -->
    <p>I am {{yourName }}.</p>

    <button v-on:click="progName='Vue'">Change programming language to Vue.</button>
  </div>

  <!-- <script src="js/vue.js"></script> -->
  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"> </script>
  <!-- production version, optimized for size and speed -->
  <!--script src="https://cdn.jsdelivr.net/npm/vue@2"></script-->
  <script>

    //assigning variables
    // var progName = 'Vue';
    // var yourName = 'Bill';
    //creating new Vue instance
    new Vue({
      el: '#app', //denotes where vue js app starts. A Vue app attaches itself to a single DOM element (#app in this case) then fully controls it.
      data: { progName: 'Vue', 
              yourName: 'Bill' }//passing variables into vue app
    });
  </script>
</body>

</html>